.display {
  display: block;
  height: 200;

  .question {
    position: relative;
    height: 200;
    padding: 10;
    background-color: lighten(desaturate(#5478CC, 100%), 30%);

    Label {
      font-size: 20px;
      font-weight: bold;
    }

    Image {
      width: 120;
    }

    .answers {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      .answer-true {
        color: red;
      }

      .answer-false {
        color: green;
      }
    }
  }

  + * {
    margin-top: 10;
  }
}

StackLayout.answerSelections {
  > StackLayout {
    padding: 0 10;

    + StackLayout {
      margin-top: 10;
    }
  }

  Button {
    display: inline-block;
    padding: 10;
    border-radius: 10;
    background-color: #5478CC;
    color: #FFFFFF;
    font-size: 20;
    font-weight: bold;
  }
}

FlexboxLayout.answerSelections {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  Image {
    width: 130;
    height: 110;
    margin: 10;
    border-radius: 10;
    background-color: lighten(#5478CC, 15%);
  }
}
