@import '../../app.variables.scss';
@import './quiz.component.animation.scss';

ActionBar {
  font-weight: bold;
  color: $color-primary;
}

.pretitle {
  height: 450;
  justify-content: center;
  align-items: center;

  > StackLayout {
    padding: 20 40;
    border-width: $bdwidth-normal;
    border-color: $color-primary;
    animation-name: pretitle-appearance;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;

    > Label {
      font-size: $fontsize-heading;
      font-weight: bold;
      color: $color-primary;
    }
  }
}

.display {
  display: block;
  height: 200;

  > .question {
    position: relative;
    height: 200;
    padding: 10;
    background-color: $bgcolor-card;

    > Label {
      min-height: 50;
      font-size: $fontsize-normal;
      font-weight: bold;
    }

    > Image {
      width: 120;
      animation-name: button-fadein;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
    }
  }

  + * {
    margin-top: 10;
  }
}

StackLayout.answerSelections {
  > StackLayout {
    padding: 0 10;

    + StackLayout {
      margin-top: 10;
    }

    > Button {
      display: inline-block;
      padding: 10;
      border-radius: $bdradius-normal;
      background-color: $color-primary;
      color: $color-darkbg;
      font-size: $fontsize-normal;
      font-weight: bold;
      animation-name: button-fadein;
      animation-duration: 500ms;
      animation-fill-mode: forwards;

      &.selected {
        background-color: $color-active;
        animation: none;
      }
    }
  }
}

FlexboxLayout.answerSelections {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  > StackLayout {
    > Image {
      width: 130;
      height: 110;
      margin: 10;
      border-radius: $bdradius-normal;
      background-color: $color-primary;
      animation-name: button-fadein;
      animation-duration: 500ms;
      animation-fill-mode: forwards;

      &.selected {
        background-color: $color-active;
        animation: none;
      }
    }
  }
}

.result {
  padding: 20;
  animation-name: result-fadein;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;

  > StackLayout {
    padding: 20;
    border-width: $bdwidth-normal;
    border-color: $color-primary;

    > .resultText {
      text-align: center;
      font-size: $fontsize-heading;
      font-weight: bold;
      color: $color-primary;

      + * {
        margin-top: 20;
      }
    }

    > .quizText {
      color: $color-midpriority;
    }

    > .quizImage {
      width: 100;
      margin-top: 0;

      + FlexboxLayout {
        margin-top: 0;
      }
    }

    > FlexboxLayout {
      justify-content: center;
      align-items: center;
      margin-top: 10;

      > .correctness {
        width: 30;
        height: 30;

        + Image {
          width: 100;
          margin-left: 5;
        }
      }

      > Label {
        margin-left: 5;
        color: $color-midpriority;
      }
    }
  }

  > Button {
    display: inline-block;
    margin-top: 20;
    padding: 10;
    border-radius: $bdradius-normal;
    background-color: $color-primary;
    color: $color-darkbg;
    font-size: $fontsize-normal;
    font-weight: bold;
  }
}
