<ActionBar title="{{getActionBarTitle()}}"></ActionBar>

<StackLayout>
  <FlexboxLayout *ngIf="shouldShow('PRETITLE')" class="pretitle">
    <StackLayout class="view">
      <Label text="{{getActionBarTitle()}}"></Label>
    </StackLayout>
  </FlexboxLayout>

  <FlexboxLayout *ngIf="shouldShow('DISPLAY')" flexDirection="column">
    <StackLayout class="display">
      <StackLayout class="question">
        <Label textWrap="true" text="{{quizText}}"></Label>
        <Image *ngIf="quizImage" [src]="quizImage"></Image>

        <!-- <AbsoluteLayout class="answers">
          <FlexboxLayout>
            <StackLayout *ngFor="let answer of answers">
              <Image *ngIf="answer.isCorrect" [src]="getAnswerImageSrc('CORRECT')"></Image>
              <Image *ngIf="!answer.isCorrect" [src]="getAnswerImageSrc('INCORRECT')"></Image>
            </StackLayout>
            <Label text="{{getAnswerCountDisplay()}}"></Label>
          </FlexboxLayout>
        </AbsoluteLayout> -->
      </StackLayout>
    </StackLayout>

    <StackLayout>
      <StackLayout class="answerSelections" *ngIf="shouldShowAnswerSelectionsPattern('TEXT')">
        <StackLayout *ngFor="let answer of answerSelections">
          <Button
            isEnabled="{{isAnswerButtonEnabled()}}"
            text="{{getAnswerText(answer)}}"
            [ngClass]="{'selected': isAnswerSelectedAs(answer)}"
            (tap)="judgement(answer)">
          </Button>
        </StackLayout>
      </StackLayout>

      <FlexboxLayout class="answerSelections" *ngIf="shouldShowAnswerSelectionsPattern('IMAGE')">
        <StackLayout *ngFor="let answer of answerSelections">
          <Image [src]="getAnswerText(answer)" (tap)="judgement(answer)"></Image>
        </StackLayout>
      </FlexboxLayout>
    </StackLayout>
  </FlexboxLayout>

  <FlexboxLayout *ngIf="shouldShow('RESULT')" class="result">
    <StackLayout>
      <Label text="{{resultText}}"></Label>
      <Label textWrap="true" text="{{quizText}}"></Label>
      <Image *ngIf="quizImage" [src]="quizImage"></Image>
      <Label text="{{getAnswerText(selectedAnswer)}}"></Label>
      <Image [src]="getAnswerText(selectedAnswer)"></Image>
    </StackLayout>
    <Button text="{{goToNextButtonLabel}}" (tap)="goToNext()"></Button>
  </FlexboxLayout>
</StackLayout>
