ActionBar {
  font-weight: bold;
  color: #5478CC;
}

@keyframes pretitle-fadein {
  0% {
    opacity: 0;
    transform: translate(0, 40);
  }
  25% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -40);
  }
}

.pretitle {
  height: 450;
  justify-content: center;
  align-items: center;

  > StackLayout {
    padding: 20 40;
    border-width: 6;
    border-color: #5478CC;
    animation-name: pretitle-fadein;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;

    > Label {
      font-size: 80;
      font-weight: bold;
      color: #5478CC;
    }
  }
}

.display {
  display: block;
  height: 200;

  .question {
    position: relative;
    height: 200;
    padding: 10;
    background-color: lighten(desaturate(#5478CC, 100%), 30%);

    Label {
      font-size: 20px;
      font-weight: bold;
    }

    Image {
      width: 120;
    }

    .answers {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  + * {
    margin-top: 10;
  }
}

@keyframes button-fadein {
  0% {
    opacity: 0;
    transform: translate(0, 40);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

StackLayout.answerSelections {
  > StackLayout {
    padding: 0 10;

    + StackLayout {
      margin-top: 10;
    }
  }

  Button {
    display: inline-block;
    padding: 10;
    border-radius: 10;
    background-color: #5478CC;
    color: #FFFFFF;
    font-size: 20;
    font-weight: bold;
    animation-name: button-fadein;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
}

FlexboxLayout.answerSelections {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  Image {
    width: 130;
    height: 110;
    margin: 10;
    border-radius: 10;
    background-color: lighten(#5478CC, 15%);
  }
}
