div {
  color: blue;
}

//
// ActionBar {
//   background-color: $ab-background;
//   color: $ab-color;
// }

// Button {
//   background-color: $item-color-ios;
// }

// // @keyframes spin {
// //     from { transform: rotate(0); }
// //     to { transform: rotate(360); }
// // }
// //
// // Image {
// //     animation-name: spin;
// //     animation-duration: 1s;
// //     animation-iteration-count: infinite;
// //     animation-timing-function: linear;
// // }
//
// ActionBar {
//   background-color: blue;
//   color: white;
// }
//
// FlexboxLayout {
//   justify-content: center;
//   align-items: center;
//   background-size: cover;
//   background-color: #c0c0c0;
// }
//
// StackLayout {
//   width: 300;
//   padding: 10 16;
//   background-color: #f0f0f0;
// }
//
// Image {
//   margin-bottom: 20;
//   height: 70;
// }
//
// Button, TextField {
//   margin-bottom: 10;
// }
//
// .btn-primary {
//   background-color: #CB1D00;
//   margin-left: 0;
//   margin-right: 0;
// }
//
// TextField {
//   placeholder-color: #C4AFB4;
//   color: black;
// }
